{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
  <div class="container-fluid h-100 w-75 overflow-auto">
    <div class="row">
      <div class="col text-white">
        <hr class="divider-large my-4">
        <h2>Edition</h2>
        <hr class="divider-large my-4">
        <p>Le présent site est la propriété de la Startup Pur Beurre:</p>
        <p>Pur Beurre<br>Montmartre<br>75018 Paris<br>01 42 92 81 00</p>
        <p>Capital social de 1,00 EURO<br>RCS 443061841</p>
        <p>Pour tout renseignement relatif au site Pur Beurre, vous pouvez envoyer un courriel à l'adresse suivante :</p>
        <a class="bg-light rounded px-4 py-2" href="mailto:lebeurre@largentdubeurre.fr">lebeurre@largentdubeurre.fr</a>
      </div>
    </div>
    <div class="col text-white mt-4">
      <hr class="divider-large my-4">
      <h2>Crédits</h2>
      <hr class="divider-large my-4">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Template : <a href='https://startbootstrap.com/themes/creative/'>StartBoostrap</a></li>
          <li class="list-group-item">Image d'arrière-plan : <a href='https://unsplash.com/photos/k60JspcBwKE'>Kawin Harasai</a></li>
          <li class="list-group-item">Icones : <a href='  https://fontawesome.com/'>Font Awesome</a></li>
          <li class="list-group-item">Hébergement : <a href='https://www.heroku.com/'>Heroku</a></li>
          <li class="list-group-item">Données sur les produits alimentaires : <a href='https://fr.openfoodfacts.org/'>Open Food Facts</a></li>
          <li class="list-group-item">Développeur : Emmanuel OUDOT</li>
        </ul>
      </div>
    </div>
    <div class="col text-white mt-4">
      <hr class="divider-large my-4">
      <h2>Droits d'auteur</h2>
      <hr class="divider-large my-4">
      <p>Les informations mises en ligne sur le site Pur Beurre sont issues de données "open source", et ne sont couvertes par aucun droit d’auteur (art. L. 122-5 du Code de la propriété intellectuelle) ;
        <br>elles peuvent être reproduites librement, sous trois conditions :</p>
        <ul>
          <li>le respect de l’intégrité de l’information reproduite ;</li>
          <li>la citation de la source ;</li>
          <li>la mention selon laquelle les droits de reproduction sont réservés et strictement limités.</li>
        </ul>
        <p>Toute utilisation à des fins commerciales ou publicitaire est interdite.</p>
    </div>
    <div class="col text-white my-4 ">
      <hr class="divider-large my-4">
      <h2>CNIL - Informations nominatives</h2>
      <hr class="divider-large my-4">
      <p>En application de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée par la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel, et notamment son article 24-II, vous disposez d'un droit de modification et de suppression des données qui vous concernent. Vous pouvez adresser votre demande à:</p>
      <a class="bg-light rounded px-4 py-2" href="mailto:lebeurre@largentdubeurre.fr">lebeurre@largentdubeurre.fr</a>
    </div>

  </div>
</header>
{% endblock %}
